@media (max-width: 1500px) {
  .header__banner-img {
    max-width: 500px;
    width: 100%;
    height: 700px;
    right: 0px;
    top: -95px;
  }
  .delivery__bg-img--plat {
    display: none;
  }
  .delivery__bg-img--burger {
    display: none;
  }
  .delivery__bg-img--bottle {
    max-width: 170px;
  }
}

@media (max-width: 1200px) {
  .header__banner-img {
    display: none;
  }
  .header__banner-inner {
    text-align: center;
  }

  .new__slider-box {
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  .new__slider-title {
    margin: 0 auto 40px;
  }
  .new__slider-text--ttl {
    margin: 0 auto 20px;
  }
  .new__slider-text {
    max-width: 100%;
    height: 250px;
  }
  .new__slider-inner .slick-dots {
    position: static;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .header__delivery {
    display: none;
  }
  .header__list {
    display: none;
  }
  .burger {
    display: block;
    width: 40px;
    height: 30px;
    margin-left: auto;
    position: relative;
    &__line {
      width: 100%;
      height: 3px;
      background-color: #3d2514;
      position: absolute;
      left: 0;
      transition: all .3s;
      &--first {
        top: 0;
      }
      &--second,
      &--third {
        top: 50%;
        transform: translateY(-50%);
      }
      &--fourth {
        bottom: 0;
      }
    }
    &__active .burger__line--first,
    &__active .burger__line--fourth {
      opacity: 0;
    }
    &__active .burger__line--second {
      transform: translateY(-50%) rotate(45deg);
    }
    &__active .burger__line--third {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
  .header__list {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0, .65);
    top: 130px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .header__item {
    display: block;
    margin: 15px 0;
    & + & {
      margin-left: 0;
    }
  }
  .header__link {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding: 10px 0;
  }

  .stock__inner {
    flex-wrap: wrap;
  }
  .stock__main {
    margin-right: 0;
  }
  .stock__item {
    margin: 0 auto 15px;
  }

  .delivery__bg-img--bottle {
    display: none;
  }
}

@media (max-width: 767px) {
  .header,
  .stock__inner,
  .menu__inner,
  .new__inner {
    padding: 150px 0 0;
  }
  .delivery__inner {
    padding: 150px 0 150px;
  }

  .header__banner-inner {
    padding: 30px 0 140px;
  }
  .header__banner-title {
    font-size: 80px;
  }

  .new__slider-text {
    font-size: 15px;
    line-height: 20px;
  }
  .new__slider-text--ttl {
    line-height: 30px;
  }
  .new__slider-img {
    max-width: 100%;
    height: 300px;
  }

  .delivery__form {
    flex-wrap: wrap;
  }
  .delivery__form-box+.delivery__form-box {
    margin-left: 0;
  }

  .footer__copi {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__social {
    margin-top: 20px;
    width: 50%;
  }

  .footer__contacts {
    flex-wrap: wrap;
  }
  .footer__item:nth-child(2) {
    order: 1;
    width: 100%;
    margin-top: 20px;
    & .footer__item-ico {
      display: none;
    }
    & .footer__item-title {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .header__banner-subtitle {
    font-size: 20px;
  }

  .stock__item--first {
    height: 330px;
  }
  .stock__subtitle {
    font-size: 20px;
  }
  .stock__title {
    font-size: 30px;
  }
  .stock__hover-txt1 {
    font-size: 20px;
  }
  .menu__title {
    font-size: 30px;
  }
  .menu__text {
    font-size: 12px;
    margin-bottom: 60px;
  }

  .delivery__form-box {
    max-width: 100%;
  }
  .delivery__title {
    font-size: 38px;
    margin-bottom: 50px;
  }

  .footer__copi {
    flex-direction: column;
  }
  .footer__copi-text {
    margin-top: 20px;
  }
}

@media (max-width: 420px) {
  .header__banner-title {
    font-size: 60px;
  }
  .header__logo {
    & img {
      display: none;
    }
    background-image: url(../images/popup-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56px;
    height: 55px;
  }

  .new__slider-img {
    height: 200px;
  }

  .footer__contacts {
    padding: 0;
  }
  .footer__copi {
    margin: 0;
  }

  .footer__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__item-ico,
  .footer__item-title {
    margin-bottom: 15px;
  }
  .footer__social {
    width: 100%;
  }
  .footer__logo img {
    width: 100%;
  }
}




@media (min-width: 991px) {
  .header__list {
    display: flex !important;
  }
}