@import 'fonts';
@import 'global';

// start header 
.header {
  background-image: url(../images/pattern.jpg);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  padding-top: 204px;
  &__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0, .05);
  }
  &__top-inner {
    padding: 35px 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__nav {
    text-align: right;
  }
  &__delivery {
    font-size: 15px;
    line-height: 31px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #3d2514;
    text-decoration: none;
    padding-left: 50px;
    position: relative;
    margin-bottom: 20px;
    transition: all .3s;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/dellivery.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 39px;
      height: 100%;
      left: 0;
      top: 0;
      transition: all .3s linear;
    }
    &:hover {
      padding-right: 50px;
      color: #bf2222;
    }
    &:hover::before {
      animation: slidein 1s forwards;
      
    }
  }
  &__item {
    display: inline-block;
    & + & {
      margin-left: 20px;
    }
  }
  &__link {
    font-family: 'PT Sans Narrow';
    color: #3d2514;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
      color: #bf2222;
    }
  }
  &__banner-inner {
    padding: 50px 0 240px;
    position: relative;
  }
  &__banner-subtitle {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    border: dashed 2px #3d2514;
    padding: 15px;
    margin-bottom: 45px;
  }
  &__banner-title {
    display: block;
    font-family: 'Kudzu';
    font-size: 120px;
    color: #3d2514;
    text-transform: uppercase;
    text-shadow: 5px 5px 0 #fee8bb;
    &--small {
      display: block;
      font-size: 55px;
      text-transform: none;
    }
  }
  
  &__banner-img {
    position: absolute;
    background-image: url(../images/header-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 905px;
    width: 100%;
    height: 888px;
    right: -165px;
    top: -200px;
    z-index: 1;
  }
}

@keyframes slidein {
  from {
    left: 0;
    animation-timing-function: linear;
  }
 
  to {
    left: 330px;
    animation-timing-function: linear;
  }
}

// end header 

// start stock 
.stock {
  position: relative;
  overflow-x: hidden;
  &__inner {
    padding: 170px 0 0px;
    display: flex;
    justify-content: space-between;
    
  }
  &__main {
    margin-right: 15px;
  }
  &__main,
  &__secondary {
    width: 100%;
  }
  &__secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    max-width: 564px;
    width: 100%;
    padding: 30px 20px;
    color: rgba(255, 255, 255, 1);
    transition: all .3s;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      border-radius: 10px;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0);
      transition: all .5s;
      z-index: 3;
    }
    &--first {
      height: 397px;
    }
    &--second,
    &--third {
      height: 182px;
    }
  }
  &__item-text {
    position: relative;
    z-index: 6;
  }
  &__subtitle {
    display: block;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
  }
  &__title {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    & .stock__subtitile {
      text-transform: none;
    }
  }
  &__item--third &__title{
    max-width: 200px;
  }

  &__hover-txt1 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0);
    max-width: 430px;
    transition: all .5s;
  }
  &__hover-txt2 {
    font-size: 13px;
    color: rgba(255, 255, 255, 0);
    transition: all .5s;
  }

  &__item:hover::before {
    background-color: rgba(0,0,0, .55);
  }
  &__item:hover &__hover-txt1,
  &__item:hover &__hover-txt2 {
    color: rgba(255, 255, 255, 1);
  }
}

// end stock 

// start menu 

.menu {
  &__inner {
    padding: 170px 0 0px;
    text-align: center;
  }
  &__title {
    font-size: 42px;
    font-family: 'Kudzu';
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__text {
    display: block;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    max-width: 900px;
    width: 100%;
    margin: 0 auto 80px;
  }
  &__slider-item {
    max-width: 350px;
    width: 100%;
  }
  &__slider-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 350px;
    width: 100%;
    height: 271px;
    margin-bottom: 20px;
  }
  &__slider-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__slider-text {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    max-width: 240px;
    width: 100%;
    height: 48px;
    overflow-y: hidden;
    margin: 0 auto 20px;
  }

  &__slider-btn {
    max-width: 160px;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #bf2222;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: transparent;
    border: 2px solid #bf2222;
    transition: all .3s;
    text-decoration: none;
    &:hover {
      background-color: transparent;
      border: 2px solid #bf2222;
      color: #bf2222;
    }
  }
}

.menu__slider-inner .slick-dots li {
  font-size: 0;
  display: inline-block;
  margin: 80px 10px 10px;
}
.menu__slider-inner .slick-dots button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: #dcdcdc;
  padding: 0;
  outline: transparent;
  &:focus {
    background-color: #ffc045;
  }
}

.menu-popup {
  max-width: 400px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background-image: url(../images/pattern.jpg);
  background-repeat: repeat;
  padding: 25px;
  text-align: center;
  &__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0 20px;
  }
  &__text {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
  }
  &__about {
    display: flex;
    justify-content: center;
  }
  &__weight,
  &__price {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 10px;
  }
  &__price {
    font-size: 20px;
  }
}


// end menu 


// start new 

.new {
  &__inner {
    padding: 170px 0 0px;
  }
  &__slider {
    box-shadow: 18.656px 24.758px 43px 0px rgba(0, 0, 0, 0.17);
  }
  &__slider-box {
    padding: 20px 20px 20px 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    height: 444px;
  }
  &__slider-title {
    font-size: 38px;
    font-family: 'Kudzu';
    text-transform: uppercase;
    max-width: 240px;
    width: 100%;
    margin-bottom: 40px;
    &--thin {
      font-family: 'PT Sans Narrow';
      font-size: 27px;
      font-weight: 400;
      color: #3d3d3d;
    }
  }
  &__slider-text {
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    color: #3d3d3d;
    max-width: 450px;
    height: 240px;
    overflow: hidden;
    &--ttl {
      display: block;
      font-family: 'PT Sans Narrow';
      font-size: 27px;
      font-weight: 400;
      text-transform: uppercase;
      max-width: 300px;
      margin-bottom: 20px;
    }
    &--price {
      display: block;
      margin-top: 10px;
    }
  }
  &__slider-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 596px;
    width: 100%;
    height: 398px;
  }
}
.new__slider-inner .slick-dots {
  position: absolute;
  left: 40px;
  bottom: 20px;
}
.new__slider-inner .slick-dots li {
  font-size: 0;
  display: inline-block;
  margin: 10px;
}
.new__slider-inner .slick-dots button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: #dcdcdc;
  padding: 0;
  outline: transparent;
  &:focus {
    background-color: #ffc045;
  }
}
// end new 

// start delivery 

.delivery {
  position: relative;
  &__inner {
    padding: 170px 0 150px;
    text-align: center;
    position: relative;
  }
  &__title {
    font-size: 42px;
    font-family: 'Kudzu';
    text-transform: uppercase;
    margin-bottom: 80px;
  }
  &__form {
    display: flex;
    justify-content: center;
  }
  &__form-box {
    max-width: 358px;
    width: 100%;
    & + & {
      margin-left: 25px;
    }
  }
  &__item {
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 25px;
    padding: 15px 20px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    outline: transparent;
    color: #3d3d3d;
    font-size: 20px;
    text-transform: uppercase;
    &::placeholder {
      color: #3d3d3d;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  &__order {
    height: 145px;
    overflow: hidden;
    resize: none;
  }
  &__btn {
    cursor: pointer;
    font-size: 23px;
    color: #fff;
    background-color: #bf2222;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
      background-color: transparent;
      border: 2px solid #bf2222;
      color: #bf2222;
    }
  }
  &__bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    &--bottle {
      background-image: url(../images/delivery-img3.png);
      max-width: 255px;
      width: 100%;
      height: 433px;
      left: 0;
      top: 230px;
    }
    &--burger {
      background-image: url(../images/delivery-img1.png);
      max-width: 339px;
      width: 100%;
      height: 371px;
      left: 0px;
      top: -45px;
    }
    &--plat {
      background-image: url(../images/delivery-img2.png);
      max-width: 345px;
      width: 100%;
      height: 561px;
      right: 0px;
      bottom: -175px;
      z-index: 50;
    }
  }
}


// end delivery 

// start footer 

.footer {
  position: relative;
  z-index: 100;
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 656px;
  margin-top: 80px;
  &__inner {
    text-align: center;
    padding-top: 55px;
  }
  &__title {
    font-size: 40px;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  &__contacts {
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 40px 0 65px;
  }
  &__item-ico {
    font-size: 50px;
    margin-bottom: 40px;
  }
  &__item-title {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 700;
  }
  &__item-itm,
  &__item-link {
    font-size: 24px;
    line-height: 42px;
  }
  &__item-link {
    text-decoration: none;
    color: #fff;
  }




  &__copi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
    padding: 25px 0;
    border-top: 1px solid #64605e;
  }
  &__mail {
    padding-left: 35px;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    position: relative;
    &::before {
      content: '\f003';
      position: absolute;
      top: 0;
      left: 0;
      font-family: 'icomoon';
      font-size: 25px;
    }
  }
  &__copi-text {
    font-size: 16px;
    line-height: 25px;
    color: #fff;
  }
  &__social-item {
    display: inline-block;
    & + & {
      margin-left: 12px;
    }
  }
  &__social-link {
    text-decoration: none;
    color: #000;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: all .3s;
    &:hover {
      background-color: #bf2222;
      color: #fff;
    }
  }
}


// end footer 




@import 'media';